@each $name, $color in $colors {
  .bg-#{$name} {
    background: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}
.w {
  &-100 {
    width: 100%;
  }
}
.d {
  &-none {
    display: none;
  }
  &-block {
    display: block;
  }
  &-flex {
    display: flex;
  }
}
.jc {
  &-between {
    justify-content: space-between;
  }
}
.ai {
  &-center {
    align-items: center;
  }
}